.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/*.a
src/**/*.o
src/**/*.so
src/**/*.dll
src/**/*.a
*.tar.gz
*.Rcheck
..Rcheck
rebuild.sh
local
.DS_Store
src/ZSTD/LICENSCE.txt
aclocal.m4
config.log
config.status
autom4te.cache/*
src/Makevars
.vscode
/src/.vscode
README.html
